@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/catppuccin';
/* Conversions::after
	- replace lb with br
	- replace 

*/
a[data-crossref]::before {
	@apply rounded-xl bg-amber-100 px-2 font-bold;
	content: '↗';
}
a[type='publisher']::before {
	@apply rounded-xl bg-orange-100 px-2 font-bold;
	content: '↗';
}
a[type='publisher'] {
	@apply text-orange-300;
}
a[type='person']::before {
	@apply rounded-xl bg-red-100 px-2 font-bold;
	content: '↗';
}
a[type='person'] {
	@apply pr-2 underline decoration-red-100 decoration-[18%];
}
a[type='place']::before {
	@apply rounded-xl bg-sky-100 px-2 font-bold;
	content: '↗';
}
a[type='work'] {
	@apply rounded-xl border border-green-500 pr-2;
}
a[type='work']::before {
	@apply rounded-tl-xl rounded-bl-xl bg-green-100 px-2 font-bold;
	content: '↗';
}

h1 {
	@apply mb-15;
}
p {
	@apply my-5;
}

insEditorial::before {
	content: '[';
}
insEditorial::after {
	content: ']';
}

illegible::before {
	content: '[';
}
illegible::after {
	content: ']';
}

/* Aternative Blocks */
altVariant::before {
	@apply absolute -top-2 -left-2 rounded-full bg-green-100 px-2 py-[1px] text-xs font-bold text-nowrap text-black;
	content: attr(data-label);
}
altVariant comment {
	@apply hidden;
}
altVariant:hover comment {
	@apply mx-4 mb-8 inline-block text-xs text-green-800 italic;
}

altVariant {
	@apply relative mt-3 inline-block border-2 border-green-600 p-1 pt-6;
}

/* LESEFASSUNG */
[data-fassung='LF'] {
	delete,
	choice orig,
	choice sic,
	br:not([break='no']),
	hyphen,
	subst delete,
	substMargin delete {
		@apply hidden;
	}


	/* ------------------ */
	/* Uncertain */
	/* ------------------ */

	unclear::after {
		content: '[?]';
	}
}

/* DIPLOMATIC FASSUNG */
[data-fassung='DF'] {
	movedBlock::before {
		@apply absolute -top-2 -left-2 rounded-full bg-sky-100 px-2 py-[1px] text-xs font-bold text-nowrap text-black;
		content: attr(data-ref);
	}
	movedBlock:hover::before {
		@apply absolute -top-2 -left-2 bg-sky-100 px-2 py-[1px] text-xs font-bold text-nowrap text-black;
		content: attr(data-label) ' (' attr(data-ref) ')';
	}

	movedBlock {
		@apply relative mt-3 inline-block border-2 border-sky-600 p-1 pt-6;
	}

	movedBlockRef::after {
		@apply inline-block h-6 w-6 items-center rounded-full bg-sky-100 pt-1 text-center text-xs font-bold text-black content-[attr(data-ref)];
	}

	/* ------------------ */
	/* Uncertain */
	/* ------------------ */

	unclear::before {
		@apply text-red-300;
		content: '(';
	}
	unclear::after {
		@apply text-red-300;
		content: ')[?]';
	}

	/* ---------------------------- */
	/* Typwriter vs Hand */
	/* ---------------------------- */
	/* Default style (= hand) */
	add,
	insert {
		@apply text-blue-500 **:text-blue-500;
	}

	/* typewriter style */
	add[type='typewriter'],
	insert[type='typewriter'],
	substMargin[type='typewriter'] add,
	substMargin[type='typewriter'] delete,
	subst[type='typewriter'] add,
	subst[type='typewriter'] delete,
	delete[type='typewriter'] {
		@apply text-black decoration-black;
	}

	/* hand style */
	add[type='hand'],
	insert[type='hand'],
	subst[type='hand'] add,
	subst add[type='hand'] {
		@apply text-blue-500;
	}
	reg > add {
		@apply text-red-300;
	}
	substMargin:not([type='hand']) > add {
		@apply text-black;
	}

	/* insert[place='above'],
	subst add[place='above'] {
		@apply text-xs;
		vertical-align: super;
	}
	insert[place='below'],
	subst add[place='below'] {
		@apply text-xs;
		vertical-align: sub;
	} */
	insMargin[type='hand'],
	substMargin[type='hand'] add {
		@apply text-blue-500;
	}

	/* Strikethroughs */
	delete {
		@apply line-through decoration-blue-500 decoration-[10%];
	}

	/* Replacements */
	subst delete,
	substMargin delete {
		@apply line-through decoration-[10%];
	}

	/* Insertions and Replacements */
	insMargin::before,
	substMargin add::before {
		content: '<';
	}
	insMargin::after,
	substMargin add::after {
		content: '>';
	}
	insert[place='inline']::before,
	subst add[place='inline']::before {
		content: '⌜';
	}
	insert[place='inline']::after,
	subst add[place='inline']::after {
		content: '⌟';
	}
	insert[place='above']::before,
	subst add[place='above']::before {
		content: '⌜';
	}
	insert[place='above']::after,
	subst add[place='above']::after {
		content: '⌝';
	}
	insert[place='below']::before,
	subst add[place='below']::before {
		content: '⌞';
	}
	insert[place='below']::after,
	subst add[place='below']::after {
		content: '⌟';
	}

	add::before,
	subst add[place='over']::before {
		content: '{';
	}
	add::after,
	subst add[place='over']::after {
		content: '}';
	}

	/* --------------------------- */
	/* Editorial */
	/* --------------------------- */
	choice {
		orig, 
		sic {
			@apply line-through decoration-red-300 decoration-[10%];
		}
		reg {
			@apply text-red-300;
		}
	}
	insEditorial,
	illegible {
		@apply text-red-300;
	}
}
