/* 

<insAbove>⌜[^⌝</insAbove>]*⌝
<insInline>[^</insInline>]*⌟ 

*/

@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/catppuccin';

a[data-crossref]::before {
	@apply bg-amber-100 rounded-xl px-2 font-bold cursor-pointer;
	content: '↗'
}
a[data-publisher]::before {
	@apply bg-orange-100 rounded-xl px-2 font-bold cursor-pointer;
	content: '↗'
}
a[data-publisher] {
	@apply text-orange-300;
}
a[data-person]::before {
	@apply bg-red-100 rounded-xl px-2 font-bold cursor-pointer;
	content: '↗'
}
a[data-person] {
	@apply underline decoration-red-100 decoration-[18%] pr-2;
}
a[data-place]::before {
	@apply bg-sky-100 rounded-xl px-2 font-bold cursor-pointer;
	content: '↗'
}
a[data-work] {
	@apply rounded-xl border-green-500  border pr-2;
}
a[data-work]::before {
	@apply bg-green-100 rounded-tl-xl rounded-bl-xl px-2 font-bold cursor-pointer;
	content: '↗'
}

h1 {
	@apply mb-40;
}
p {
	@apply my-5;
}

insEditorial::before {
	content: '[';
}
insEditorial::after {
	content: ']';
}
/* insEditorial {
	@apply relative;
}
insEditorial:hover:after {
	@apply absolute bg-sky-100 py-[1px] text-black text-nowrap;
	content: '] Editorial insertion';
} */

uncertain::before {
	content: '[';
}
uncertain::after {
	content: ']';
}
illegible::before {
	content: '[';
}
illegible::after {
	content: ']';
}


[data-fassung='LF'] {
	strikeH,
	strikeT,
	br:not([data-type='lf']),
	hyphen,
	replBelow old,
	replAbove old,
	replInline old,
	replMargin old,
	replOver old {
		@apply hidden;
	}
}

[data-fassung='DF'] {
	movedBlock::before {
		@apply absolute -top-0 -left-2 bg-sky-100 px-2 py-[1px] font-bold text-black text-xs text-nowrap;
		content: '(' attr(data-ref) ')';
	}
	movedBlock:hover::before {
		@apply absolute -top-0 -left-2 bg-sky-100 px-2 py-[1px] font-bold text-black text-xs text-nowrap;
		content: attr(data-label) ' (' attr(data-ref) ')';
	}
	
	movedBlock {
		@apply relative inline-block border-2 border-sky-600 p-1 pt-6;
	}
	
	movedBlockRef::after {
		@apply inline-block bg-sky-100 rounded-full font-bold text-black content-[attr(data-ref)] text-xs;
	}

	hand,
	handFree,
	insAbove,
	insBelow,
	insInline,
	replInline[data-hand] new,
	replAbove[data-hand] new,
	replBelow[data-hand] new,
	replOver[data-hand] new {
		@apply text-blue-500 italic;
	}

	insAbove,
	replAbove new {
		@apply text-xs;
		vertical-align: super;
	}
	insBelow,
	replBelow new {
		@apply text-xs;
		vertical-align: sub;
	}
	insMargin,
	replMargin new {
		@apply text-green-500 italic;
	}

	/* Strikes */
	strikeH,
	strikeT,
	strikeH insAbove,
	strikeT insAbove {
		@apply line-through decoration-[10%];
	}
	strikeH {
		@apply decoration-blue-500;
	}

	/* Replacements */
	replInline old,
	replAbove old,
	replBelow old,
	replOver old,
	replMargin old {
		@apply line-through decoration-[10%];
	}

	/* Insertions and Replacements */
	insMargin::before,
	replMargin new::before {
		content: '<';
	}
	insMargin::after,
	replMargin new::after {
		content: '>';
	}
	insInline::before,
	replInline new::before {
		content: '⌜';
	}
	insInline::after,
	replInline new::after {
		content: '⌟';
	}
	insAbove::before,
	replAbove new::before {
		content: '⌜';
	}
	insAbove::after,
	replAbove new::after {
		content: '⌝';
	}
	insBelow::before,
	replBelow new::before {
		content: '⌞';
	}
	insBelow::after,
	replBelow new::after {
		content: '⌟';
	}

	hand::before,
	replOver new::before {
		content: '{';
	}
	hand::after,
	replOver new::after {
		content: '}';
	}

	/* Editorial */
	unclear::before {
		content: '[';
	}
	unclear::after {
		content: ']';
	}
}
