@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/catppuccin';
/* Conversions::after
	- replace lb with br
	- replace 

*/
a[data-crossref]::before {
	@apply cursor-pointer rounded-xl bg-amber-100 px-2 font-bold;
	content: '↗';
}
a[type=publisher]::before {
	@apply cursor-pointer rounded-xl bg-orange-100 px-2 font-bold;
	content: '↗';
}
a[type=publisher] {
	@apply text-orange-300;
}
a[type=person]::before {
	@apply cursor-pointer rounded-xl bg-red-100 px-2 font-bold;
	content: '↗';
}
a[type=person] {
	@apply pr-2 underline decoration-red-100 decoration-[18%];
}
a[type=place]::before {
	@apply cursor-pointer rounded-xl bg-sky-100 px-2 font-bold;
	content: '↗';
}
a[type=work] {
	@apply rounded-xl border border-green-500 pr-2;
}
a[type=work]::before {
	@apply cursor-pointer rounded-tl-xl rounded-bl-xl bg-green-100 px-2 font-bold;
	content: '↗';
}

h1 {
	@apply mb-40;
}
p {
	@apply my-5;
}

insEditorial::before {
	content: '[';
}
insEditorial::after {
	content: ']';
}
/* insEditorial {
	@apply relative;
}
insEditorial:hover:after {
	@apply absolute bg-sky-100 py-[1px] text-black text-nowrap;
	content: '] Editorial insertion';
} */

unclear::before {
	content: '[';
}
unclear::after {
	content: ']';
}

illegible::before {
	content: '[';
}
illegible::after {
	content: ']';
}

/* Aternative Blocks */
altVariant::before {
		@apply absolute -top-2 -left-2 rounded-full bg-green-100 px-2 py-[1px] text-xs font-bold text-nowrap text-black;
		content: attr(data-label);
	}
altVariant comment {
	@apply hidden;
}
altVariant:hover comment {
	@apply inline-block text-green-800 text-xs italic mb-8 mx-4;
	}


	altVariant {
		@apply relative inline-block border-2 border-green-600 p-1 pt-6 mt-3;
	}

[data-fassung='LF'] {
	delete,
	choice orig,
	br:not([break='no']),
	hyphen,
	subst delete,
	substMargin delete {
		@apply hidden;
	}
}

[data-fassung='DF'] {
	movedBlock::before {
		@apply absolute -top-2 -left-2 rounded-full bg-sky-100 px-2 py-[1px] text-xs font-bold text-nowrap text-black;
		content: attr(data-ref);
	}
	movedBlock:hover::before {
		@apply absolute -top-2 -left-2 bg-sky-100 px-2 py-[1px] text-xs font-bold text-nowrap text-black;
		content: attr(data-label) ' (' attr(data-ref) ')';
	}

	movedBlock {
		@apply relative inline-block border-2 border-sky-600 p-1 pt-6 mt-3;
	}

	movedBlockRef::after {
		@apply inline-block h-6 w-6 items-center rounded-full bg-sky-100 pt-1 text-center text-xs font-bold text-black content-[attr(data-ref)];
	}

	/* ---------------------------- */
	/* Typwriter vs Hand */
	/* ---------------------------- */
	/* Default style (= hand) */
	add,
	insert {
		@apply **:text-blue-500 **:italic text-blue-500 italic;
	}

	/* typewriter style */
	add[type='typewriter'],
	insert[type='typewriter'],
	subst[type='typewriter'] add,
	delete[type='typewriter'] {
		@apply text-black decoration-black ;
	}

	/* hand style */
	add[type='hand'],
	insert[type='hand'],
	subst[type='hand'] add,
	add add[type='hand'] {
		@apply text-blue-500 italic;
	}

	subst add {
		@apply  text-blue-500 italic;
	}
	reg > add {
		@apply text-red-300 not-italic;
	}
	substMargin:not([type=hand]) > add {
		@apply text-black not-italic;
	}

	insert[place='above'],
	subst add[place='above'] {
		@apply text-xs;
		vertical-align: super;
	}
	insert[place='below'],
	subst add[place='below'] {
		@apply text-xs;
		vertical-align: sub;
	}
	insMargin[type=hand],
	substMargin[type=hand] add {
		@apply italic text-blue-500;
	}

	/* Strikethroughs */
	delete {
		@apply line-through decoration-blue-500 decoration-[10%];
	}

	/* Replacements */
	subst delete,
	substMargin delete {
		@apply line-through decoration-[10%];
	}

	/* Insertions and Replacements */
	insMargin::before,
	substMargin add::before {
		content: '<';
	}
	insMargin::after,
	substMargin add::after {
		content: '>';
	}
	insert[place='inline']::before,
	subst add[place='inline']::before {
		content: '⌜';
	}
	insert[place='inline']::after,
	subst add[place='inline']::after {
		content: '⌟';
	}
	insert[place='above']::before,
	subst add[place='above']::before {
		content: '⌜';
	}
	insert[place='above']::after,
	subst add[place='above']::after {
		content: '⌝';
	}
	insert[place='below']::before,
	subst add[place='below']::before {
		content: '⌞';
	}
	insert[place='below']::after,
	subst add[place='below']::after {
		content: '⌟';
	}

	add::before,
	subst add[place='over']::before {
		content: '{';
	}
	add::after,
	subst add[place='over']::after {
		content: '}';
	}

	/* --------------------------- */
	/* Editorial */
	/* --------------------------- */
	choice {
		orig {
			@apply line-through decoration-red-300 decoration-[10%];
		}
		reg {
			@apply text-red-300;
		}
	}
	insEditorial,
	unclear, 
	illegible {
		@apply text-red-300;
	}
	
}
